.listCol1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.listCol2 {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 15px;
  padding: 0 10px 0 10px;
  justify-content: center;
}

.listCol3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}

.listCol4 {
  display: flex;
  flex-direction: column;
  margin: 0 15px 25px 15px;
  padding: 0 10px 0 10px;
  justify-content: flex-end;
}

.listCol5 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
}